<div class="col-md-12">
  <h2>Notas</h2>

  <ul class="nav nav-tabs" style="margin-bottom: 15px;">
      <% @school_years.each do |school_year|%>
        <li class="active"><a class="set-school-year" href="#" data-toggle="tab"><%= school_year['year']%></a></li>
      <%-end-%>
  </ul>

  <%= form_tag(marks_path, method: "get", class: 'school_year_form') do %>
    <%= hidden_field_tag :school_year  %>
  <%-end-%>

  <div class="">
    <h4><strong><%= @marks['year']%>° Años </strong></h4>
    <h5><strong>Estado: <%= @marks['status'] %></strong></h5>
  </div>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="home">
       <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr class="success">
              <th>Materia</th>
              <th>Notas</th>
              <th>Promedio cursada</th>
              <th>Regular</th>
              <th>Complementario</th>
              <th>Previas</th>
              <th>Promedio Def.</th>
            </tr>
          </thead>
          <tbody>
            <% @marks['course_subjects'].each do |course_subject|%>
            <tr>
              <td><%= course_subject['name'] %></td>
               <td>
                <% course_subject['marks'].each do |mark| %>
                 <%= format_mark_number(mark).html_safe %>
                <%end%>
              </td>
              <td align="center"><%= format_mark(course_subject['average']) %></td>
              <td align="center"><%= course_subject['examinations'] == [] ? '-' : format_examinations(course_subject['examinations'], "reg") %></td>
              <td align="center"><%= course_subject['examinations'] == [] ? '-' : format_examinations(course_subject['examinations'], "comp") %></td>
              <td align="center"><%= course_subject['repproveds'] == [] ? '-' : format_repproveds(course_subject['repproveds']) %></td>
              <td align="center"><%= format_mark(course_subject['final_average']) unless course_subject['final_average'].nil? %></td>
            </tr>
            <%end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


