<div class="col-md-12">
  <div class="row">
    <div class="tutor-container">
      <div class="col-md-6">
        <div class="tutor-view">
         <%= image_tag("student2.jpg", alt: "photo", class: 'photo') %>
        </div>
      </div>
      <div class="col-md-3 tutor-name">
        <div class="page-header">
          <h1><strong><%= @person.firstname%>, <%= @person.lastname %></strong></h1>
          <p class="identification-type"><strong>Legajo N° <%= @student.global_file_number %></strong></p>
        </div>
      </div>
      <legend></legend>
      <div class="col-md-3 children children1">
        <i class="mdi-action-grade"></i>
        <span>
          <h3><%= link_to('Calificaciones', marks_path) %></h3>
          <p class="list-group-item-text">Consultá tu historial académico <br> de calificaciones.</p>
          </span>
      </div>
      <div class="col-md-3 children children2">
        <i class="mdi-action-event"></i><span><h3><%= link_to('Inasistencias', absences_path) %></h3>
        <p class="list-group-item-text">Verificá tu registro de inasistencias 
        <br>y retrasos a clases.</p></span>
      </div>
      <div class="col-md-3 children children3">
        <i class="mdi-communication-live-help"></i><span><h3><%= link_to('Sanciones disciplinarias', disciplinary_sanctions_path) %></h3>
        <p class="list-group-item-text">Chequeá las sanciones disciplinarias <br> y apercibimientos.</p></span>
      </div>
    </div>
  </div>
</div>
