<p style="margin: 65px;"></p>

<div class="row">
  <div class="col-md-7">
     <div class="thumbnail">
      <div class="caption">
        <%= image_tag("student2.jpg", alt: "photo", class: 'photo') %>
        <div class="data">
          <h3 class="name"><%= @person.firstname %> <%= @person.lastname %></h3>
          <span class="orientation">Legajo N° <%= @student.global_file_number %></span>
          <a href="#" class="btn btn-sm plus"><span class="glyphicon glyphicon-plus"></span> Ver más</a>
        </div>  

      </div>
    </div>
  </div>

  <div class="col-md-5 side-list">
    <div class="list-group">

      <div class="panel-default">
        <div class="panel-body home-boxes1">
          <div class="list-group-item clickable">
            <div class="row-action-primary">
              <i class="mdi-action-grade"></i>
            </div>
            <div class="row-content">
              <div class="action-secondary"><i class="mdi-material-info"></i></div>

              <h3><strong><%= link_to('Calificaciones', marks_path) %></i></strong></h3>
              <i><p class="list-group-item-text">Consultá tu historial académico de calificaciones.</p></i>
            </div>
          </div>
        </div>     
      </div>

      <div class="panel-default">
        <div class="panel-body home-boxes2">
          <div class="list-group-item clickable">
            <div class="row-action-primary">
              <i class="mdi-action-event"></i>
            </div>
            <div class="row-content">
              <div class="action-secondary"><i class="mdi-material-info"></i></div>

              <h3><strong><%= link_to('Inasistencias', absences_path) %></strong></h3>
              <i><p class="list-group-item-text">Verificá tu registro de inasistencias y retrasos a clases.</p></i>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-default">
        <div class="panel-body home-boxes3">      
          <div class="list-group-item clickable">
            <div class="row-action-primary">
              <i class="mdi-notification-sim-card-alert"></i>
            </div>
            <div class="row-content">
              <div class="action-secondary"><i class="mdi-material-info"></i></div>

              <h3><strong><%= link_to('Sanciones disciplinarias', disciplinary_sanctions_path) %></strong></h3>
              <i><p class="list-group-item-text">Chequeá las sanciones disciplinarias y apercibimientos que te han imputado.</p></i>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<p style="margin: 65px;"></p>