  <div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    
    <a class="navbar-brand" href="javascript:void(0)"><%= image_tag("logo-kimkelen.png", alt: "Kimkëlen", class: 'logo') %></a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to(t('Home'), root_path) %></li>
      <li><%= link_to(t('Marks'), marks_path) %></li>
      <li><%= link_to(t('Attendances'), absences_path) %></li>
      <li><%= link_to(t('Disciplinary sanctions'), disciplinary_sanctions_path) %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <ul class="nav navbar-nav">
        <li class="mdi-content-mail" id="icon-envelope"></li>
      </ul>
      <li class="dropdown">
        <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Hola, Alumno! <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="javascript:void(0)">Mi perfil</a></li>
          <li class="divider"></li>
          <li><a href="javascript:void(0)">Cerrar sesión</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>